<div class="login-page">
  <mat-card class="login-card">
    @if (!showRegister()) {
      <h1 class="login-card__title">Welcome Back</h1>
      <p class="login-card__subtitle">Sign in to continue to Dreamlog</p>

      <app-login-form />
    } @else {
      <h1 class="login-card__title">Create Account</h1>
      <p class="login-card__subtitle">Start tracking your dreams today</p>

      <app-register-form />
    }

    <mat-divider class="my-4" />

    <div class="login-card__divider-text">Or continue with</div>

    <app-google-login-button />

    <div class="login-card__footer">
      @if (!showRegister()) {
        Don't have an account?
        <button mat-button color="primary" (click)="toggleMode()" class="login-card__link">
          Sign up
        </button>
      } @else {
        Already have an account?
        <button mat-button color="primary" (click)="toggleMode()" class="login-card__link">
          Sign in
        </button>
      }
    </div>
  </mat-card>
</div>
