// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$blue-palette,
        tertiary: mat.$violet-palette,
        background: (
          surface: #ffffff,
          background: #f8fafc,
        ),
      ),
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-background);
  color: var(--mat-sys-on-background);
  font: var(--mat-sys-body-medium);
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
