spring:
  application:
    name: dreamlog
  datasource:
    url: jdbc:postgresql://localhost:5432/dreamlog
    username: dream
    password: dream
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration
    url: ${spring.datasource.url}
    user: ${spring.datasource.username}
    password: ${spring.datasource.password}
  security:
    user:
      name: ${APP_BASIC_USER:admin}
      password: ${APP_BASIC_PASSWORD:admin}
management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always
